@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #1A1A1C;
	background-position: center;
}

header {
	position: fixed;
	background-color: #26262C;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;	
}

.logo {
	font-size: 2em;
	color: #fff;
	user-select: none;
}

.navigation a {
	text-decoration: none;
}

.navigation .nav-link {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.navigation .nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation .nav-link:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.navigation .btnLogin-popup {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
	text-decoration: none;
}

.navigation .btnLogin-popup:hover {
	background: #fff;
	color: #162938;
}

.container {
	position: relative;
	left: -500px;
}

.heading {
	align-items: center;
	color: #fff;
	margin-top: 40%;
	margin-left: 1.3%;
	margin-bottom: 1%;

}

.card-section {
    margin-top: 10%;
    background-color: #26262C;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100%;
	right: 200px;
    min-height: 700px;
    right: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input-label-text {
    /* display: block;  */
	margin-left: 45%;
	max-width: 50px;
    margin-top: 5px; 
	margin-bottom: 3%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #fff;
}

.range-input {
	display: inline;
	max-width: 100%;
    margin: 15px 0;
}

.range-input-part {
	max-width: 100px;
}

.input-label {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.input-label-icon {
    margin-right: 10px;
}

.select {
	margin-left: 60px;
    width: 170px; /* Укажите желаемую ширину для выпадающего списка */
    height: 25px; /* Укажите желаемую высоту для выпадающего списка */
    border: 1px solid #ccc;
    position: relative;
}

.selected-closed {
    /* width: 170px; */
    height: 100%;
    position: absolute;
    background-color: #fff; /* Цвет фона выпадающего списка */
    opacity: 0; /* Скрыть выбранный элемент при закрытом состоянии */
    transition: opacity 0.3s ease;
}

.input-group:hover .selected-closed {
    opacity: 1; /* Показать выбранный элемент при наведении на .input-group */
}

.checkbox-input {
    display: flex;
    align-items: center;
}

/* .checkbox {
	position: absolute;
	right: 66%;
    width: 20px; 
    height: 20px; 
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
} */

.checkbox {
    /* position: relative;  */
    margin-left: 10px;
    margin-top: 5px; 
	position: absolute;
}

/* .checkbox i {
    display: none; 
}

.checkbox.active i {
    display: block; 
} */

/* .input-underlabel {
	position: absolute;
	top: 37%;
    font-size: 14px;
    color: #555;
} */

.input-underlabel {
    position: relative; /* Возврат к относительному позиционированию */
    top: 5px; /* Добавление отступа сверху */
}

/* .checkbox-input-label {
	margin-left: 2%;
	top: 27%;
    font-size: 14px;
    color: #555;
} */

.checkbox-input-label {
    margin-left: 2%;
    top: 5px; /* Добавление отступа сверху */
}

/* .filters-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
} */

.filters-buttons {
	margin-left: 8%;
	margin-right: 8%;
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
    margin-bottom: 20px;
}


.filters-clear-button,
.filters-apply-button {
    /* display: flex; */
    /* align-items: center; */
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px; /* Добавление отступа между кнопками */
}

.filters-clear-button:hover{
	/* background-color: #9147FF; */
	background-color: rgb(194, 192, 198);
	color: #26262C;
}

.filters-apply-button:hover {
    background-color: #543682;
	color: #ccc;
}

.button-icon {
    margin-right: 10px;
}


.filters-clear-button {
	/* margin-left: 10%; */
	background: transparent;
	/* border: 2px solid #fff; */
	outline: none;
	/* background-color: #1A1A1C; */
	background-color: gray;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	/* margin-left: 40px; */
	transition: .5s;
	text-decoration: none;
    color: #fff;
}

/* Стили для создания предупреждения в профиле игрока */
.filters-apply-button {
	/* margin-right: 10%; */
	background: transparent;
	/* border: 2px solid #fff; */
	/* background-color: #1A1A1C; */
	background-color: #9147FF;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
	text-decoration: none;
    color: #fff;
}