

.chat-body {
    margin: 0;
    padding: 0;
    color: #fff;
}

.chat-panel {
    max-width: 560px;
    display: flex;
}

.chat-sidebar {
    min-width: 400px;
    min-height: 652px;
    height: auto;
    background-color: #333;
    color: white;
    padding-top: 20px;

    max-width: 560px;
}
  
.chat-sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.chat-sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
  
.chat-sidebar a:hover {
    color: #9147ff;
}
  
.chat-sidebar .chat-active {
    color: #9147ff;
}

.grid-changer-icons {
    position: relative;
    display: flex;
    color: #000;
    left: 400px;
}

.grid-changer-icon {
    padding: 0px 10px 0px;
    margin: 0 10px;
    background-color: #26262c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    color: #fff;
    font-size: 1.5em;
    line-height: 57px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.grid-changer-icon:hover {
    background: #9147ff;
    transform: scale(1.05);
}

.grid-chat-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 5px;
    height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
}  

.chat-users-items {
    margin: 10px;
    background-color: #26262c;
    border: none;
    outline: none;
    border-radius: 20px;
    min-width: 100px;
    min-height: 120px;
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    max-width: 160px;
}

.chat-users-items:hover {
    transform: scale(1.05);
}

.chat-users-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
}

.chat-users-item-div {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chat-users-item {
    text-align: center;
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-chat-container {
    min-width: 555px;
    display: block;
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    margin-top: 10px;
}

.list-chat-container-item {
    background-color: #26262c;
    border-radius: 8px; 
    padding: 10px; 
    margin-bottom: 10px; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    display: flex;
}

.list-chat-container-item:hover {
    transform: scale(1.02);
}

.chat-container-text {
    padding-left: 20px;
    font-size: 1.1em;
}
