.card-section {
  background-color: #26262c;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 450px;
  right: 200px;
  min-height: 500px;
  margin-bottom: 40px;
  max-height: 200px;
}

.input-label-text {
  margin-left: 20px;
  max-width: 50px;
  margin-top: 5px;
  margin-bottom: 3%;
}

.input-group .range-input {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.input-group {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.range-input {
  display: inline;
  max-width: 100%;
  margin: 15px 0;
}

.range-input-part {
  max-width: 100px;
  background-color: #51515a;
  margin: 0 5px;
  color: #fff;
}

.input-label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 80px;
}

.select {
  margin-left: 60px;
  width: 170px;
  height: 30px;
  border: 1px solid black;
  position: relative;
}

.selected-closed {
  height: 100%;
  width: 170px;
  position: absolute;
  background-color: #51515a;
  color: #fff;
}

.input-group:hover .selected-closed {
  opacity: 1;
}

.checkbox-input {
  display: flex;
  align-items: center;
  margin-left: 60px;
  transform: scale(1.5);
}

.checkbox {
  opacity: 50%;
}

.filters-buttons {
  margin-left: 55px;
  margin-right: 8%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filters-clear-button,
.filters-apply-button,
.filters-card-button {
  padding: 13px 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 10px;
}

.filters-clear-button:hover {
  background-color: rgb(194, 192, 198);
  color: #26262c;
}

.filters-apply-button:hover {
  background-color: #4c2588;
  color: #ccc;
}

.filters-card-button {
  background: transparent;
  outline: none;
  background-color: gray;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
}

.filters-card-button:hover {
  background-color: #4c2588;
  color: #ccc;
}

.button-icon {
  margin-right: 10px;
}

.filters-clear-button {
  background: transparent;
  outline: none;
  background-color: gray;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
}

.filters-apply-button {
  background: transparent;
  background-color: #9147ff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
}
