.chat-body {
    margin: 0;
    padding: 0;
    color: #fff;
}

.chat-panel {
    display: flex;
}

.chat-sidebar {
    min-width: 400px;
    min-height: 652px;
    height: auto;
    background-color: #333;
    color: white;
    padding-top: 20px;

    max-width: 550px;
}
  
.chat-sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.chat-sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
  
.chat-sidebar a:hover {
    color: #9147ff;
}
  
.chat-sidebar .chat-active {
    color: #9147ff;
}

.grid-chat-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}  

.chat-users-items {
    margin-bottom: 20px;
    background-color: #26262c;
    border: none;
    outline: none;
    border-radius: 20px;
    min-width: 100px;
    min-height: 120px;
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;

    max-width: 160px;
}

.chat-users-items:hover {
    transform: scale(1.05);
}

.chat-users-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
}

.chat-users-item-div {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chat-users-item {
    text-align: center;
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
